.container {
  position: relative;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}
.img {
  width: 100%;
}
.bg {
  background-color: #ffcc8d;
  border-radius: 5px;
  width: -webkit-fill-available;
  margin: 25px 0;
}
.bg h2 {
  padding: 10px;
}

.btn {
  padding: 10px;
  margin: 10px;
  background-color: #161616;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}
